<style>
        body {
            font-family: 'Montserrat', sans-serif;
        }

        .main-image {
            min-height: 90vh;
            max-height: 700px;
            object-fit: cover;
            width: 100%;
            padding: 10px;
            border-radius: 20px;
        }

        .thumbnail-foto {
            min-height: 340px;
            max-height: 341px;
            min-height: 44vh;
            width: 100%;
            object-fit: cover;
            cursor: pointer;
            position: relative;
            padding: 5px;
            border-radius: 20px;
        }

        @media (max-width: 768px) {
            .container {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                width: 100%;
            }

            .main-image {
                width: 105%;
                height: 100vh;
                object-fit: cover;
                border-radius: 20px;
                padding: 0;
                margin: 0;
                box-sizing: border-box; tu
                margin-right: 0;
                margin-top: -20px;
            }

            .thumbnail-container {
                margin-top: -40px;
            }

            .thumbnail-foto {
                display: none;
            }

            .col-lg-3 {
                flex: 0 0 100%;
                max-width: 100%;
                min-height: 200px;
            }
        }
    </style>
